.header-image-div {
    margin-top: 50px;
    width:100%;
}
.div-header-image-div {
    width: 100%;
    height: 55vh;
    background-color: rgba(8, 54, 17, 0.7);
    z-index: 1;
    position: absolute;
    top: 125px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.img-div-header-image-div {
    width:100%;
    height: 55vh;
    object-fit: cover;
    z-index: -1;
}
.text-header-image-div {
    color: rgb(232, 201, 2);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    font-weight: 700;
}

.who-div {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
.color-who-div {
    
    width: 45%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    padding-bottom: 8vh;
}
.header-color-who-div {
    font-family: 'Koulen', cursive;
    font-size: 3em;
    position: relative;
    top: 20px;
}
.img-color-who-div {
    width: 60%;
}
.div-who-div {
    
    width: 55%;
    display: flex;
    align-items: center;
    padding: 5%;
}
.desc-div-who-div {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 0px;
    color:rgb(17, 105, 34)
}

.version-history-div {
    background-color: rgb(8, 54, 17);
    padding: 5% 10% 5% 10%;
    border-top: dashed 8px rgb(29, 168, 36);
}
.header-ver-history-div {
    color: rgb(29, 168, 36);
    font-family: 'Koulen', cursive;
    font-size: 3em;
}
.list-ver-history-div {
    margin-left: 7%;
}
.item-list-ver-history-div {
    color: rgb(29, 168, 36);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}