{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profilemy.css') }}"  type="text/css" />
{% endblock %}


{% block body %}
<div class="banner-div">

    <!--{% if current_user.banner %}
        <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.banner.read())}}"> <br>
    {% else %}
        <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
    {% endif %}-->

    {% if current_user.banner %}
        <img class="img-banner-div" src="data:image;base64,{{base64encode(current_user.banner.read())}}"> <br>
    {% else %}
        <img class="img-banner-div" width = "100" src="/static/banner.jpg">
    {% endif %} 
    
    <div class="div-banner-div">
        <div class="div-div-banner-div">

        </div>
        <div class="div-div-banner-div">
            {% if current_user.image %}
                <img class="img-div-banner-div" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
            {% else %}
                <img class="img-div-banner-div" src="/static/bdog.jpg">
            {% endif %} 
            <h1 class="name-div-banner-div">
                {% if current_user.fname and current_user.lname %}
                    {{current_user.fname}}  {{current_user.lname}}
                {% endif %}
            </h1>
            <h2 class="username-div-banner-div">{{current_user.username}}</h2>
        </div>
        <div class="div-div-banner-div">
            <a href="/myprofile/edit" style="text-decoration: none; margin-top: 50%;">
                <div class="edit-button">
                    <h4 class="text-edit-button">Edit Profile</h4>
                    <img class="icon-edit-button" width="40" src="/static/edit.png">
                </div>
            </a>
        </div>
    </div>
</div>



<div class="infodiv">

    <div class="userdiv-infodiv">
        <div class="box-div-infodiv">
            <h3 class="header-box-div-infodiv">Basic Information</h1>
            <div class="box-box-div-infodiv">

                <div class="item-box-box-div-infodiv" style="border-radius: 10px 10px 0px 0px;">
                    <h4 class="header-item-box-box-div-infodiv">Full Name</h4>
                    <p class="desc-item-box-box-div-infodiv">
                        {% if current_user.fname and current_user.lname %}
                            {{current_user.fname}}  {{current_user.lname}}
                        {% endif %}
                    </p>
                </div>
                <div class="item-box-box-div-infodiv">
                    <h4 class="header-item-box-box-div-infodiv">Username</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.username}}</p>
                </div>
                <div class="item-box-box-div-infodiv">
                    <h4 class="header-item-box-box-div-infodiv">Email Address</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.email}}</p>
                </div>
                <div class="item-box-box-div-infodiv last-item" style="border-radius: 0px 0px 10px 10px;">
                    <h4 class="header-item-box-box-div-infodiv">Password</h4>
                    <p class="desc-item-box-box-div-infodiv">************</p>
                </div>

            </div>
        </div>

        <div class="box-div-infodiv">
            <h3 class="header-box-div-infodiv">Additional Information & Favorites</h1>
            <div class="box-box-div-infodiv">

                <div class="item-box-box-div-infodiv" style="border-radius: 10px 10px 0px 0px;">
                    <h4 class="header-item-box-box-div-infodiv">Role</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.role}}</p>
                </div>
                <div class="item-box-box-div-infodiv">
                    <h4 class="header-item-box-box-div-infodiv">Season</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.season}}</p>
                </div>
                <div class="item-box-box-div-infodiv">
                    <h4 class="header-item-box-box-div-infodiv">Food</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.favfood}}</p>
                </div>
                <div class="item-box-box-div-infodiv">
                    <h4 class="header-item-box-box-div-infodiv">Movie</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.favmovie}}</p>
                </div>
                <div class="item-box-box-div-infodiv last-item" style="border-radius: 0px 0px 10px 10px;">
                    <h4 class="header-item-box-box-div-infodiv">Song</h4>
                    <p class="desc-item-box-box-div-infodiv">{{current_user.favsong}}</p>
                </div>

            </div>
        </div>

    </div>

    <div class="vertline-info-div"></div>

    <div class="biodiv-infodiv">
        <div class="box-div-infodiv">
            <h3 class="header-box-div-infodiv">Bio</h1>
            <div class="textbox-box-div-infodiv">
                <p class="desc-textbox-box-div-infodiv">
                    {{current_user.bio}}
                </p>
            </div>
        </div>
        <div class="box-div-infodiv">
            <h3 class="header-box-div-infodiv">Cooking Experience</h1>
            <div class="textbox-box-div-infodiv">
                <p class="desc-textbox-box-div-infodiv">
                    {{current_user.experience}}
                </p>
            </div>
        </div>
    </div>


</div>




{% endblock %}