{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='recipeform.css') }}"  type="text/css" />
{% endblock %}

{% block body %}


<!--



<div class="recipeform-div">
    
    





</div>
<div class="ingredients-tophalf-div-recipeform-div div-tophalf-div-recipeform-div">
    <h3>Ingredients</h3>
    <div>
        
    </div>
</div>


<form action="" method="post" enctype="multipart/form-data">
    
    
    
            </div>
            

        </div>
        <div class="bottomhalf-div-recipe-form-div">
            
            <button>Overall Recipe Submit</button>
        </div>


    </div>

</form>


-->

















        <h1></h1>

        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.food_name.label }} <br>
                {{ form.food_name(size=64) }}
                List the errors for this field
                {% for error in form.food_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.food_media.label }}<br>
                {% if current_user.food_media %}
                    <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
                {% else %}
                    <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
                {% endif %} <br>
                {{ form.food_media() }}<br>
                {% for error in form.food_media.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            
            <p>
                {{ form.recipe_step.label }} <br>
                {{ form.recipe_step(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.recipe_step.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    
{% endblock %}